<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>currencies</key>
	<array>
		<dict>
			<key>currencyCode</key>
			<string>USD</string>
			<key>currencySymbol</key>
			<string>$</string>
			<key>localeIdentifier</key>
			<string>en</string>
		</dict>
		<dict>
			<key>currencyCode</key>
			<string>NOK</string>
			<key>currencySymbol</key>
			<string>kr</string>
			<key>localeIdentifier</key>
			<string>nb</string>
		</dict>
	</array>
</dict>
</plist>
